<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>씨네퀵 : CineQuick</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="icon" href="/favicon_io/favicon-32x32.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  </head>
  <body>

    <div class="pb-3">
        <nav class="py-2 bg-body-tertiary border-bottom">
            <div class="container d-flex flex-wrap">
                <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
                    <i class="bi bi-film me-2" style="font-size: 2rem; color: cornflowerblue;" width="40" height="32"></i>
                    <span class="fs-4" style="font-weight: bold;">CineQuick</span>
                </a>
                <ul class="nav">
                  <li class="nav-item logged-out"><a href="/details/login" class="nav-link link-body-emphasis p-3">로그인</a></li>
                  <li class="nav-item logged-out"><a href="/details/account" class="nav-link link-body-emphasis p-3">회원가입</a></li>
                  <li id="accountli" class="nav-item logged-in" style="display: none;"></li>
                  <li id="loggedinli" class="nav-item logged-in" style="display: none;"><button class="btn p-0" id="logoutli" type="button" role="button"></button></li>
                </ul>
            </div>
          </nav>
          <header class="py-3 mb-4 border-bottom text-bg-dark">
            <div class="container d-flex flex-wrap justify-content-center">
              <ul class="nav me-auto">
                <li class="nav-item"><a href="#" class="nav-link link-light px-2 active" aria-current="page">영화</a></li>
                <li class="nav-item"><a href="/details/ticketing" class="nav-link link-light px-2">예매</a></li>
                <li class="nav-item"><a href="#" class="nav-link link-light px-2">극장</a></li>
                <li class="nav-item"><a href="#" class="nav-link link-light px-2">이벤트</a></li>
              </ul>
              <form class="col-12 col-lg-auto mb-3 mb-lg-0 d-flex" role="search">
                <input type="search" class="form-control" placeholder="영화제목 검색.." aria-label="Search">
                <button class="btn btn-primary" type="button">Search</button>
              </form>
            </div>
          </header>
    </div>
    
    <div class="mb-4">
      <div class="container mb-5">
        <div class="row align-items-center g-lg-3">
          <div class="card text-bg-dark text-center text-lg-start p-0 border border-0">
            <% const randomIndex = Math.floor(Math.random() * 4); %>
            <img src="<%= imageBaseUrl %><%= nowPlayingMovies[randomIndex].backdrop_path %>" style="filter: brightness(0.7);" class="card-img" alt="nowPlayingMovies[randomIndex].title" />
            <div class="card-img-overlay row">
              <div class="col-lg-9 row">
                <h1 class="card-title fw-bold lh-1 mb-3 p-2 ps-3">[Best] <%= nowPlayingMovies[randomIndex].title %></h1>
                <div class="col-md-5">
                  <img src="<%= imageBaseUrl %><%= nowPlayingMovies[randomIndex].poster_path %>" class="img-fluid rounded" alt="nowPlayingMovies[randomIndex].title" />
                </div>
                <div class="col-md-7">
                  <p class="card-text mt-5"><%= nowPlayingMovies[randomIndex].overview %></p>
                  <p class="card-text mt-5"><small><%= nowPlayingMovies[randomIndex].release_date %> 출시 평점 <%= Math.round(nowPlayingMovies[randomIndex].vote_average * 10) / 10 %> / 10.0</small>
                    <button class="btn btn-dark ms-4"><a class="text-white text-decoration-none" href="/details/">예매하기</a></button>
                  </p>
                </div>
              </div>
              <div class="col-lg-3 rounded pt-4" style="background: #ffffffbd;">
                <ul class="list-group list-group-flush bg-transparent">
                  <h4 class="fw-bold ms-2 text-dark">최신 예매 순위</h4>
                  <p class="fw-light text-dark ms-2 me-2">(일일 박스오피스 업데이트)</p>
                  <% i = 0 %>
                  <% dailyBoxOfficeMovies.forEach(movie => { %>
                      <% i += 1 %>
                    <li class="list-group-item bg-transparent border-dark">
                      <%= i %>
                      <%= movie.movieNm %>
                      <span class="text-primary">
                        <% if(movie.rankOldAndNew == 'NEW'){ %> <span class="badge bg-primary">NEW</span> <% } %>
                        </span>
                      </li>
                  <% }); %>
                </ul>    
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

      <div class="container">
        <div class="row align-items-center g-lg-3 mb-5">
          <img class="img-fluid p-0 rounded" src="/img/banner.png">
        </div>
      </div> 

      <div class="container">
      <div class="row align-items-start">
        <div
          class="col-md-2 nav nav-pills"
          id="v-pills-tab"
          role="tablist"
          aria-orientation="vertical"
        >
          <button
            class="nav-link active mb-3"
            id="v-pills-profile-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-profile"
            type="button"
            role="tab"
            aria-controls="v-pills-profile"
            aria-selected="false"
          >
            현재 상영
          </button>
          <button
            class="nav-link mb-3"
            id="v-pills-messages-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-messages"
            type="button"
            role="tab"
            aria-controls="v-pills-messages"
            aria-selected="false"
          >
            상영 예정
          </button>
          <div class="toast show w-auto">
            <div class="toast-header">
              CineQuick Ads
              <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
            </div>
            <div class="toast-body p-1">
              <img class="img-fluid w-auto" src="/img/ads.png" />
              <p>
                <a href="#" class="text-decoration-none">
                  팝콘 먹으러 가기
                  <i class="bi bi-arrow-right-circle"></i>
                </a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-10 tab-content" id="v-pills-tabContent">
          <div
            class="tab-pane fade show active"
            id="v-pills-profile"
            role="tabpanel"
            aria-labelledby="v-pills-profile-tab"
            tabindex="0"
          >
          <div class="row">
            <% i = 0 %>
            <% nowPlayingMovies.forEach(movie => { %>
              <% if (movie.poster_path != null) {%>
                <div class="col-md-4 mb-4">
                  <div class="card text-center">
                    <div class="card-header">
                      <%= movie.title %>
                    </div>
                    <div class="card-body">
                      <p class="card-text">
                        <img class="img-fluid" src="<%= imageBaseUrl %><%= movie.poster_path %>" />
                      </p>
                      <a href="#" class="btn btn-primary">영화 정보보기</a>
                    </div>
                    <div class="card-footer text-body-secondary">
                      (<%= movie.release_date %> 첫 상영)
                    </div>
                  </div>
                </div>
              <% }%>
              <% if(i==5) { %>
                <button type="button" class="btn btn-light" data-bs-toggle="collapse" data-bs-target="#nowPlayingMovies">더보기 / 접기</button>
                <div id="nowPlayingMovies" class="pt-4 collapse row">
                <% } %>
              <% i += 1 %>
            <% }); %>
          </div>
          </div>
      </div>
          <div
            class="tab-pane fade"
            id="v-pills-messages"
            role="tabpanel"
            aria-labelledby="v-pills-messages-tab"
            tabindex="0"
          >
          <div class="row">
            <% i = 0 %>
            <% upcomingMovies.forEach(movie => { %>
              <% if (movie.poster_path != null) {%>
              <div class="col-md-4 mb-4">
                <div class="card text-center">
                  <div class="card-header">
                    <%= movie.title %>
                  </div>
                  <div class="card-body">
                    <p class="card-text">
                      <img class="img-fluid" src="<%= imageBaseUrl %><%= movie.poster_path %>" />
                    </p>
                    <a href="#" class="btn btn-primary">영화 정보보기</a>
                  </div>
                  <div class="card-footer text-body-secondary">
                    (<%= movie.release_date %> 첫 상영)
                  </div>
                </div>
              </div>
              <% }%>
              <% if(i==5) { %>
                <button type="button" class="btn btn-light" data-bs-toggle="collapse" data-bs-target="#upcomingMovies">더보기 / 접기</button>
                <div id="upcomingMovies" class="pt-4 collapse row">
                <% } %>
              <% i += 1 %>
            <% }); %>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<footer class="mt-5 py-5 text-center bg-dark">
    <div class="container">
    <div class="d-flex flex-wrap justify-content-between align-items-center border-bottom mb-4 pb-4">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
          <i class="bi bi-film" style="font-size: 1rem; color: white;"></i>
        </a>
        <span class="mb-3 mb-md-0 text-white">CineQuick © 2024 Company, Inc</span>
      </div>
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-white text-decoration-none" href="/">홈</a></li>
        <li class="ms-3"><a class="text-white text-decoration-none" href="#">공지사항</a></li>
        <li class="ms-3"><a class="text-white text-decoration-none" href="#">회사소개</a></li>
      </ul>
    </div>
  </div>
    <p class="mb-0">
      <a class="text-white" href="#">Back to top</a>
    </p>
  </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const loggedIn = localStorage.getItem('loggedIn') === 'true';
        const username = localStorage.getItem('username');
        const email = localStorage.getItem('userEmail');
        const loggedOutItems = document.querySelectorAll('.nav-item.logged-out');
        const loggedInItem1 = document.querySelector('#accountli');
        const loggedInItem2 = document.querySelector('#loggedinli');
        const loggedInItem3 = document.querySelector('#logoutli');
  
        if (loggedIn && email) {
          loggedOutItems.forEach(item => item.style.display = 'none');
          loggedInItem1.style.display = 'block';
          loggedInItem1.innerHTML = `
              <a href="#" class="nav-link link-body-emphasis p-3">${username}</a>`;
          loggedInItem2.style.display = 'block';
          loggedInItem3.innerHTML = `
              <a href="#" class="nav-link link-body-emphasis p-3">로그아웃</a></li>`;
        } else {
          loggedOutItems.forEach(item => item.style.display = 'block');
          loggedInItem1.style.display = 'none';
          loggedInItem2.style.display = 'none';
        }
        loggedInItem2.addEventListener('click', function() {
          localStorage.setItem('loggedIn', 'false');
          window.location.reload();
        });
      });
    </script>
  </body>
</html>
